body{
    
    background-color: blue;
    width: 0;
    margin: 0%;
    height: 0;
}

#name{
    font-size: large;
    font-style: oblique;
    background-color: aqua;
    display: flex;
    border: none;
    border-radius: 15px;
}